<!DOCTYPE html>
<html data-ng-app="APP">

<head>
    <meta charset="utf-8">
    <title>Студенська ліга алтимату</title>
    <link href="css/leaflet.css" rel="stylesheet">
    <link href="css/angular-material.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet">
    <script src="js/jquery-1.7.2.min.js"></script>
</head>

<body>
    <!-- head begin -->
    <section id="head">
        <div class="content-wrap content">
            <div class="logo">
                International <span>S</span>tudents <span>L</span>eague <span>U</span>ltimate
            </div>

        </div>
        <div class="nav-wrap clearfix" data-header-animation>
            <ul class="social">
                <li>
                    <a class="vk-icon" target="_blank" href="http://vk.com/y.spodenyuk"></a>
                    <md-tooltip>Vkontakte</md-tooltip>
                </li>
                <li>
                    <a class="fb-icon" target="_blank" href="https://www.facebook.com/profile.php?id=100005981117222"></a>
                    <md-tooltip>Facebook</md-tooltip>
                </li>
                <li>
                    <a class="mail-icon" href="mailto:yura_spodenyuk@mail.ru"></a>
                    <md-tooltip>Write to email</md-tooltip>
                </li>
            </ul>
            <nav data-ng-controller="NavCtrl">
                <md-button data-ng-click="scrollTo('about')">About</md-button>
                <md-button data-ng-click="scrollTo('universities')">Universities</md-button>
                <md-button data-ng-click="scrollTo('partners')">Partners</md-button>
            </nav>
            <div class="header-bg"></div>
        </div>
        <div class="black"></div>
    </section>
    <!-- head end -->

    <!-- about begin -->
    <section id="about">
        <div class="content clearfix">
            <h3>What <span>is</span> it ?</h3>
            <div class="item">
                <div class="picture slu"></div>
                <h4>International <span>S</span>tudents <span>L</span>eague <span>U</span>ltimate</h4>
                <div class="text">
                    SLU or Students League Ultimate it`s international league ultimate which included different university teams from all of the world.
                </div>
            </div>
            <div class="item">
                <div class="picture community"></div>
                <h4>Community</h4>
                <div class="text">
                    Being the member of student league ultimate, it's a great possibility to make friends with a huge community of positive purposeful and clever sportsmen and businessmen from all around the world!
                </div>
            </div>
            <div class="item">
                <div class="picture team"></div>
                <h4>Our Teams</h4>
                <div class="text">
                    We have more then 30 mixed student ultimate teams!
                </div>
            </div>
        </div>
    </section>
    <!-- about end -->

    <!-- universities begin -->
    <section id="universities" data-ng-controller="UniversitiesCtrl">
        <h3>How <span>many</span> of us?</h3>
        <div class="slider-wrap">
            <div class="slider" data-teams-slider>
                <div class="item" data-ng-repeat="universities in universities">
                    <img src="img/universities/{{universities.name}}" alt="">
                    <md-tooltip>{{universities.title}}</md-tooltip>
                </div>
            </div>
        </div>
        <leaflet id="map" center="center" layers="layers" maxbounds="maxbounds" defaults="defaults" markers="markers"></leaflet>
    </section>
    <!-- universities end -->

    <!-- partners begin -->
    <section id="partners" class="content">
        <h3>Thanks to our <span>partners</span></h3>
        <div class="wrap clearfix" data-partners-width>
            <a target="_blank" href="http://vk.com/impuls_ultimate">
                <div class="item impuls">
                    <md-tooltip>Impuls</md-tooltip>
                </div>
            </a>
            <a target="_blank" href="http://www.rfdf.ru/">
                <div class="item rfdf">
                    <md-tooltip>Russian Flying Disc Federation</md-tooltip>
                </div>
            </a>
            <a target="_blank" href="http://vk.com/madcaps_if">
                <div class="item mad-caps">
                    <md-tooltip>Mad Caps</md-tooltip>
                </div>
            </a>
            <a target="_blank" href="http://vk.com/junior_ultimate">
                <div class="item one-4-one">
                    <md-tooltip>One4One</md-tooltip>
                </div>
            </a>
            <a target="_blank" href="http://gfdf.ge/">
                <div class="item gfdf">
                    <md-tooltip>Georgian Flying Disc Federation</md-tooltip>
                </div>
            </a>
        </div>
    </section>
    <!-- partners end -->

    <!-- footer begin -->
    <footer>
        <div class="create-by">
            create by <a target="_blank" href="http://spodenyuk.16mb.com/">Spodenyuk</a>
        </div>
    </footer>
    <!-- footer end -->

    <!-- scroll begin -->
    <div class="scroll-wrap" data-ng-controller="NavCtrl" data-scroll-top>
        <div class="scroll-top" data-ng-click="scrollTo('head')"></div>
    </div>
    <!-- scroll end -->

    <!-- Leaflet -->
    <script src="/js/leaflet.js"></script>

    <!-- Angular Material Dependencies -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-leaflet-directive.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-aria.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="/js/angular-material.min.js"></script>

    <!-- App Core -->
    <script src="/js/app.js"></script>
</body>

</html>
